body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    background-color: rgb(133, 165, 212);
}

span {
    color: #4867d3;
    font-weight: 500;
}

p.text {
    color: #abacac;
    font-size: 14px;
}

.container {
    background-color: #fff;
    padding: 40px;
    margin: 20% 12%;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    border-radius: 6px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.item {
    padding: 5px;
    width: 300px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 6px;
}

.item:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.hidden {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.5s linear;
    margin: 0%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.hidden .popap_block {
    width: 370px;
    padding: 20px 40px;
    margin: auto;
    margin-top: 15%;
    position: relative;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    transition: 0.3s ease;
    border-radius: 6px;
}

.hidden img.close {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 18px;
    cursor: pointer;
}

.item img,
.hidden img {
    width: 35%
}

.item h3,
.hidden h3 {
    text-transform: uppercase;
    margin: 20px 0;
    color: #4867d3;
    font-weight: 500;
}

p.price span {
    display: inline-block;
}

p.price span.number {
    font-size: 20px;
    position: relative;
    font-size: 28px;
}

p.price span.number:before {
    content: '$';
    position: absolute;
    font-size: 12px;
    top: 0;
    left: -10px;
}